/* styles/navbar.css */
.icon {
    position: relative;
    width: 95.73px;
    height: 31.92px;
}

.searchoutlinedIcon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.search {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}

.searchoutlinedParent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.searchinput {
    border-radius: 6px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    width: 284px;
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 13px 16px;
    align-items: center;
    justify-content: flex-start;
}

.unionIcon1 {
    position: relative;
    width: 16.25px;
    height: 16.25px;
}

.button1 {
    position: relative;
    line-height: 24px;
}

.button {
    border-radius: 8px;
    background-color: #d33852;
    width: 188px;
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 13px 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #fff;
}

.searchinputParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.navbar {
    width: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 16px 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
    color: #b0b0b0;
    font-family: 'Avenir Next';
}